## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [9]:
import pandas as pd

df = pd.read_csv('client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [13]:
# View the column names in the data
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [15]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [17]:
# What three item categories had the most entries?
category_counts = df['category'].value_counts()
top_categories = category_counts.head(3)
print(top_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [19]:
# For the category with the most entries, which subcategory had the most entries?
top_category = top_categories.idxmax()

subcategory_counts = df[df['category'] == top_category]['subcategory'].value_counts()
top_subcategory = subcategory_counts.idxmax()
print(top_subcategory)

bathroom supplies

In [21]:
# Which five clients had the most entries in the data?
client_counts = df['client_id'].value_counts()
top_5_clients = client_counts.head(5)
print(top_5_clients)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [23]:
# Store the client ids of those top 5 clients in a list.
top_5_client_ids = top_5_clients.index.tolist()
print(top_5_client_ids)

[33615, 66037, 46820, 38378, 24741]

In [25]:
# How many total units (the qty column) did the client with the most entries order order?
top_client_id = top_5_client_ids[0]

total_units_top_client = df[df['client_id'] == top_client_id]['qty'].sum()
print(total_units_top_client)

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [183]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
data = {
    'unit_price': [1096.80, 24.95, 13.52],
    'unit_weight': [7.50, 1.49, 1.68],
    'qty': [105, 21, 39]
}

df['subtotal'] = df['unit_price'] * df['qty']

print(df)

KeyError: 'unit_price'

In [147]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
df['shipping_price'] = df.apply(lambda row: 7 if row['unit_weight'] > 50 else 10, axis=1)
print(df)

   unit_price  unit_weight  qty   subtotal  shipping_price
0     1096.80         7.50  105  115164.00              10
1       24.95         1.49   21     523.95              10
2       13.52         1.68   39     527.28              10

In [153]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df['total_price'] = df['subtotal'] * (1 + 9.25/100) + df['shipping_price']
print(df)

   unit_price  unit_weight  qty   subtotal  shipping_price    total_price
0     1096.80         7.50  105  115164.00              10  125826.670000
1       24.95         1.49   21     523.95              10     582.415375
2       13.52         1.68   39     527.28              10     586.053400

In [181]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['line_cost'] = (df['unit_price'] * df['qty']) + df['shipping_price']
print(df)

KeyError: 'unit_price'

In [199]:
# Create a column for the profit of each line using line cost and line price
df['line_cost'] = df['unit_price'] * df['qty'] + df['shipping_price']
df['line_profit'] = df['total_price'] - df['line_cost']

print(df)

KeyError: 'unit price'

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [171]:
# Check your work using the totals above
data = {
    'order_id': [2742071, 2173913, 6128929],
    'total_price': [152811.89, 162388.71, 923441.25]
}

order_receipts = {
    2742071: 152811.89,
    2173913: 162388.71,
    6128929: 923441.25
}

for order_id, expected_total_price in order_receipts.items():
    total_price_calc = df[df['order_id'] == order_id]['total_price'].sum()
    print(f"order_id {order_id}: Calculated Total Price ${total_price_calc:.2f}, Expected ${expected_total_price}")

order_id 2742071: Calculated Total Price $152811.89, Expected $152811.89
order_id 2173913: Calculated Total Price $162388.71, Expected $162388.71
order_id 6128929: Calculated Total Price $923441.25, Expected $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [197]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
data = {
    'Client ID': [33615, 66037, 46820, 38378, 24741],
    'Units': [64313, 43018, 75768, 73667, 239862],
    'Total Revenue': [8377309, 10259515, 9743794, 12906551, 82268892],
    'Total Cost': [6175314, 7004483, 7007192, 9634721, 45688900],
    'Total Profit': [2201995, 3255032, 2736603, 3271830, 36579992]
}

top_clients = [33615, 66037, 46820, 38378, 24741]

top_clients_data = df[df['Client ID'].isin(top_clients)]
total_spend_top_clients = top_clients_data.groupby('Client ID')['Total Revenue'].sum()

print(total_spend_top_clients)

Client ID
24741    82268892
33615     8377309
38378    12906551
46820     9743794
66037    10259515
Name: Total Revenue, dtype: int64

In [17]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
summary_df = pd.DataFrame({
    'total_units': top_clients_data.groupby('client_id')['qty'].sum(),
    'total_shipping': top_clients_data.groupby('client_id')['shipping_price'].sum(),
    'total_revenue': total_spend_top_clients,
    'total_profit': top_clients_data.groupby('client_id')['line_profit'].sum()
}).reset_index()

   client_id     qty  shipping_price   line_price    line_cost  line_profit
0      33615   64313      1828984.89   8377308.52   6175313.91   2201994.61
1      66037   43018      1395151.85  10259514.79   7004482.98   3255031.81
2      46820   75768      1601448.84   9743794.36   7007191.64   2736602.72
3      38378   73667      3429455.40  12906550.87   9634720.98   3271829.89
4      24741  239862      5126448.37  82268892.02  45688899.71  36579992.31

In [233]:
# Format the data and rename the columns to names suitable for presentation.
# Assuming df is your DataFrame containing relevant data

# Define money columns for formatting
money_columns = ['Total Revenue', 'Total Profit']

# Function to convert dollar amount to millions
def currency_format_millions(x):
    return '${:.2f}M'.format(x / 1_000_000)

# Apply currency_format_millions function to money columns
df[money_columns] = df[money_columns].applymap(currency_format_millions)

# Rename columns to reflect the change in money format
df.rename(columns={
    'Total Revenue': 'Total Revenue (Millions)',
    'Total Profit': 'Total Profit (Millions)'
}, inplace=True)

print("Formatted DataFrame:")
print(df)

KeyError: "None of [Index(['Total Revenue', 'Total Profit'], dtype='object')] are in the [columns]"

In [231]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
summary_df.sort_values(by='Total Profit', ascending=False, inplace=True)
print(df)

   Client ID   Units  Shipping Price Total Revenue (Millions)  Total Cost  \
0      33615   64313         1828985                   $8.38M     6175314
1      66037   43018         1395152                  $10.26M     7004483
2      46820   75768         1601449                   $9.74M     7007192
3      38378   73667         3429455                  $12.91M     9634721
4      24741  239862         5126448                  $82.27M    45688900

  Total Profit (Millions)
0                  $2.20M
1                  $3.26M
2                  $2.74M
3                  $3.27M
4                 $36.58M